@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@layer components {
  .remove-button {
    @apply hidden;
  }
  .offscreen {
    @apply absolute left-[-10000px];
  }
  .split-container {
    @apply flex flex-row nowrap space-evenly;
  }
  .button {
    @apply block p-[8px] w-[40%] text-[0.9rem] text-white text-center rounded-[5px] bg-black font-bold;
  }
  .flex-header {
    @apply flex flex-row justify-between align-middle;
  }
  .label-container {
    @apply w-full mb-[20px];
  }
  .label {
    @apply text-white font-bold;
  }
  .input {
    @apply block w-full my-[10px] h-[40px] p-[8px] rounded-[5px] animate-itemAppear;
  }
  .title {
    @apply text-[1.5rem] text-black font-bold;
  }
  .optin {
    @apply h-[80vh] animate-slideInFooter;
  }
  .offer {
    @apply my-[10px] font-bold;
  }
}

body {
  font-family: 'Nunito', sans-serif;
  min-height: 100vh;
  background: radial-gradient(skyblue, darkblue);
  padding: 1rem;
}

